@import "../../../styles/@styles";

:host {
  .main-content-height {
    background-color: $background-grey;
    border-top: $offset-4px solid $main-red;

    .header_background {
      height: 210px;
      background-image: url("../../../assets/images/bg-img/head-bg.png");
      z-index: 999;
      position: relative;
    }

    .company-nums {
      position: relative;
      z-index: 9999;

      .blur {
        width: 150px;
        height: 70px;
        background: radial-gradient(circle, $main-red 40%, $main-red 0%);
        filter: blur(110px);
        position: absolute;
        top: 4rem;
        left: 5rem;
        z-index: 1;
      }
    }

    .gallery {
      position: relative;
      padding-bottom: 120px;
      z-index: 9999;

      .gallery-content {
        &__block {
          @include flex(column, flex-start, flex-start);

          gap: $offset-40px;

          &_title {
            @include font($font-size-43px, $line-60px);

            font-weight: 700;
            color: $main-white;
          }

          &__cards {
            @include flex(row, flex-start, flex-start);

            flex-wrap: wrap;
            gap: $offset-24px;

            &__card {
              position: relative;
              z-index: 1;

              &_name {
                position: absolute;
                bottom: 0;
                padding: 24px;
                z-index: 99;
                width: 464px;
                color: $main-white;
                border-bottom-right-radius: 16px;
                border-bottom-left-radius: 16px;
                background-color: rgba(0, 0, 0, 0.7);
              }
            }
          }

          &__paginator {
            @include flex(row, center, flex-start);

            gap: $offset-24px;

            &__button {
              @include flex(row, center, center);

              width: 48px;
              height: 48px;
              border-radius: 100%;
              border: 2px solid #FFFFFF66;
              background-color: transparent;

              &_icon {
                opacity: 40%;
              }
            }

            &__nums {
              @include flex(row, center, center);

              &_item {
                @include font($font-size-17px, $line-23px);
                @include flex(row, center, center);

                font-weight: 500;
                color: $main-white;
                padding: $offset-8px $offset-12px;
                cursor: pointer;
              }

              .active {
                width: 48px;
                height: 48px;
                border-radius: 100%;
                background-color: #FFFFFF1A;
              }
            }
          }
        }
      }

      .blur {
        width: 200px;
        height: 100px;
        background: radial-gradient(circle, $main-red 40%, $main-red 0%);
        filter: blur(110px);
        position: absolute;
        bottom: -6rem;
        left: 3rem;
      }
    }
  }

  h1, p {
    margin: 0;
  }
}
