@import "../../../../styles/@styles";

:host {
  .header {
    @include flex(column, center, flex-start);
    position: absolute;
    top: 3rem;
    z-index: 99999999;

    &__block {
      @include flex(row, center, space-between);

      &__items {
        @include flex(row, center, space-between);
        gap: $offset-24px;

        &__nav {
          @include flex(row, center, space-between);

          &_menu {
            color: $main-white;
            padding: $offset-20px;
          }
        }

        &__phone {
          @include flex(row, center, space-between);
          gap: $offset-12px;

          &_number {
            color: $main-red;
          }
        }

        &__lang {
          @include flex(row, center, center);

          width: $offset-56px;
          height: $offset-56px;
          border-radius: 50%;
          color: $main-white;
          background-color: $background-grey;
          cursor: pointer;
        }

        &__lang-btn {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 360px) {
    .header {
      position: absolute;
      top: .7rem;

      &__block {
        @include flex(row, center, space-between);
        width: 328px;

        &__items {
          &__nav {
            display: none;
          }

          &__phone {
            display: none;
          }

          &__lang-btn {
            display: block;
            width: $offset-56px;
            height: $offset-56px;
            border-radius: 50%;
            border: none;
            background-color: $background-grey;
          }
        }
      }
    }
  }
}
