<section class="container feature">
  <div class="feature__block">
    <div class="feature__block__items">
      <img class="feature__block__items_icon" ngSrc="./assets/icons/megaphone.svg" alt="mega phone icon" height="48"
           width="48">
      <div class="feature__block__items__content">
        <h3 class="feature__block__items__content_title h3">Широкий охват аудитории</h3>
        <p class="feature__block__items__content_text p">Экраны и билборды расположены на популярных местах, привлекая большое количество потенциальных клиентов.</p>
      </div>
    </div>
    <div class="feature__block__items">
      <img class="feature__block__items_icon" ngSrc="./assets/icons/target.svg" alt="target icon" height="48"
           width="48">
      <div class="feature__block__items__content">
        <h3 class="feature__block__items__content_title h3">Увеличение узнаваемости</h3>
        <p class="feature__block__items__content_text p">Частое видение рекламы на экранах и билбордах помогает увеличить узнаваемость Вашего бренда.</p>
      </div>
    </div>
    <div class="feature__block__items">
      <img class="feature__block__items_icon" ngSrc="./assets/icons/star.svg" alt="star icon" height="48"
           width="48">
      <div class="feature__block__items__content">
        <h3 class="feature__block__items__content_title h3">Креативные возможности</h3>
        <p class="feature__block__items__content_text p">Большие размеры экранов и билбордов позволяют креативно подойти к дизайну рекламы, выделяя бренд из толпы.</p>
      </div>
    </div>
  </div>
</section>
