<main class="main-content-height">
  <div class="header_background"></div>
  <div class="company-nums">
    <app-company-in-nums></app-company-in-nums>
    <div class="blur"></div>
  </div>
  <div class="heading">
    <section class="container heading-content">
      <div class="heading-content__block">
        <div class="heading-content__block__left">
          <div class="heading-content__block__left__h1">
            <h1 class="heading-content__block__left__h1_title">Заголовок h1</h1>
            <p class="heading-content__block__left__h1_text">
              широкий спектр услуг по размещению рекламы,
              наиболее востребованной является <span class="heading-content__block__left__h1_text_blue">наружная реклама в Ташкенте.</span>
              У нас можно заказать и разместить рекламу на LED-экранах,
              а также на лайтбоксах и баннерах. Размещение рекламы осуществляется в
              кратчайшие сроки, с гарантией и по доступной цене.
            </p>
          </div>
          <div class="heading-content__block__left__h2">
            <h1 class="heading-content__block__left__h2_title">Заголовок h2</h1>
            <div class="heading-content__block__left__h2_text">
              Каждый предприниматель в Ташкенте, открывающий или расширяющий свой бизнес,
              должен найти компанию, способную помочь в изготовлении качественной, современной,
              высокотехнологичной наружной рекламы. Наш коллектив имеет достаточный уровень
              профессионализма, что позволяет решить задачи любой сложности в кратчайшие сроки.
              Мы способны изготовить любой вид рекламной продукции, от печати на визитках,
              до размещения рекламы на лед-экранах в качестве наружной рекламы.
              Клиентам компании гарантируется:
              <ol class="heading-content__block__left__h2_text__list">
                <li class="heading-content__block__left__h2_text__list_item">
                  Высокое качество готовой продукции. Оперативность выполнения заказа.
                  Доступная цена.
                </li>
                <li class="heading-content__block__left__h2_text__list_item">
                  При подготовке наружной рекламы мы используем новейшие передовые технологии и высококачественные материалы.
                  В обязательном порядке принимаются во внимание пожелания клиентов.
                </li>
                <li class="heading-content__block__left__h2_text__list_item">
                  Мы готовы выполнить полный спектр работ, от разработки концепции и оформления
                  дизайна наружной рекламы, до размещения на LED экране, проведения пусконаладочных работ.
                </li>
              </ol>
            </div>
          </div>
          <div class="heading-content__block__left__h3">
            <h1 class="heading-content__block__left__h3_title">Заголовок h3</h1>
            <div class="heading-content__block__left__h3__text">
              <ol class="heading-content__block__left__h3__text__list">
                <li class="heading-content__block__left__h3__text__list_item">Каждый предприниматель в Ташкенте, открывающий или расширяющий свой бизнес,</li>
                <li class="heading-content__block__left__h3__text__list_item">
                  должен найти компанию, способную помочь в изготовлении качественной, современной,
                  высокотехнологичной наружной рекламы.
                </li>
                <li class="heading-content__block__left__h3__text__list_item">
                  Наш коллектив имеет достаточный уровень профессионализма,
                  что позволяет решить задачи любой сложности в кратчайшие сроки.
                </li>
                <li class="heading-content__block__left__h3__text__list_item">Мы способны изготовить любой вид рекламной продукции, от печати на визитках,</li>
                <li class="heading-content__block__left__h3__text__list_item">
                  до размещения рекламы на лед-экранах в качестве наружной рекламы.
                  Клиентам компании гарантируется:
                </li>
              </ol>
            </div>
          </div>
          <div class="heading-content__block__left__h4">
            <h1 class="heading-content__block__left__h4_title">Заголовок h4</h1>
            <div class="heading-content__block__left__h4__text">
              <ul class="heading-content__block__left__h4__text__list">
                <li class="heading-content__block__left__h4__text__list_item">Каждый предприниматель в Ташкенте, открывающий или расширяющий свой бизнес,</li>
                <li class="heading-content__block__left__h4__text__list_item">
                  должен найти компанию, способную помочь в изготовлении
                  качественной, современной, высокотехнологичной наружной рекламы.
                </li>
                <li class="heading-content__block__left__h4__text__list_item">
                  Наш коллектив имеет достаточный
                  уровень профессионализма, что позволяет решить задачи любой сложности в кратчайшие сроки.
                </li>
                <li class="heading-content__block__left__h4__text__list_item">
                  Мы способны изготовить любой вид рекламной продукции, от печати на визитках,
                </li>
                <li class="heading-content__block__left__h4__text__list_item">
                  до размещения
                  рекламы на лед-экранах в качестве наружной рекламы. Клиентам компании гарантируется:
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="heading-content__block__form">
          <div class="heading-content__block__form__top">
            <h1 class="heading-content__block__form__top_title">Остались вопросы?</h1>
            <p class="heading-content__block__form__top_subtitle">Наш менеджер свяжется с Вами в ближайшее время и ответит на все вопросы!</p>
          </div>
          <div class="heading-content__block__form__inputs">
            <label class="heading-content__block__form__inputs_label">Ваше имя:</label>
            <input class="heading-content__block__form__inputs_input">
          </div>
          <div class="heading-content__block__form__inputs">
            <label class="heading-content__block__form__inputs_label">Номер телефона:</label>
            <input class="heading-content__block__form__inputs_input" placeholder="+998">
          </div>
          <button class="heading-content__block__form_button">Отправить</button>
        </div>
      </div>
    </section>
    <div class="blur"></div>
  </div>
</main>
