<main class="main-content-height">
  <div class="header_background"></div>
  <div class="company-nums">
    <app-company-in-nums></app-company-in-nums>
    <div class="blur"></div>
  </div>
  <div class="news-card">
    <section class="container card-content">
      <div class="card-content__block">
        <div class="card-content__block__top">
          <button class="card-content__block__top_button p" (click)="goBack()">Назад</button>
          <h1 class="card-content__block__top_title h1">ApexMedia на выставке светодиодного оборудования в Китае</h1>
          <p class="card-content__block__top_date p">17 мая 2024</p>
        </div>

        <div class="card-content__block__bottom">
          <div class="card-content__block__bottom__left">
            <img class="card-content__block__bottom__left_image" src="./assets/images/card-banner-4.png" alt="">
            <div class="card-content__block__bottom__left__texts">
              <div class="card-content__block__bottom__left__texts__up">
                <h2 class="card-content__block__bottom__left__texts__up_title h2">LED экраны</h2>
                <p class="card-content__block__bottom__left__texts__up_text p">широкий спектр услуг по размещению рекламы, наиболее востребованной является наружная реклама в Ташкенте. У нас можно заказать и разместить рекламу на LED-экранах, а также на лайтбоксах и баннерах. Размещение рекламы осуществляется в кратчайшие сроки, с гарантией и по доступной цене.</p>
              </div>
              <div class="card-content__block__bottom__left__texts__down">
                <h2 class="card-content__block__bottom__left__texts__down_title h2">Преимущества LED экранов</h2>
                <div class="card-content__block__bottom__left__texts__down__text p">
                  Каждый предприниматель в Ташкенте, открывающий или расширяющий свой бизнес,
                  должен найти компанию, способную помочь в изготовлении качественной, современной,
                  высокотехнологичной наружной рекламы. Наш коллектив имеет достаточный
                  уровень профессионализма, что позволяет решить задачи любой сложности в кратчайшие
                  сроки. Мы способны изготовить любой вид рекламной продукции, от печати на визитках,
                  до размещения рекламы на лед-экранах в качестве наружной рекламы. Клиентам компании
                  гарантируется:

                  <ul class="card-content__block__bottom__left__texts__down_text__list">
                    <li class="card-content__block__bottom__left__texts__down__list_item p">Высокое качество готовой продукции.</li>
                    <li class="card-content__block__bottom__left__texts__down__list_item p">Оперативность выполнения заказа. </li>
                    <li class="card-content__block__bottom__left__texts__down__list_item p">Доступная цена.</li>
                  </ul>
                  <p class="card-content__block__bottom__left__texts__down__text_alone p">
                    При подготовке наружной рекламы мы используем новейшие передовые
                    технологии и высококачественные материалы.
                    В обязательном порядке принимаются во внимание пожелания клиентов.
                  </p>
                  <p class="card-content__block__bottom__left__texts__down__text_alone p">
                    Мы готовы выполнить полный спектр работ,
                    от разработки концепции и оформления дизайна наружной рекламы,
                    до размещения на LED экране, проведения пусконаладочных работ.
                  </p>
                </div>
              </div>
              <button class="card-content__block__bottom__left__texts_button p" (click)="goBack()">Назад</button>
            </div>
          </div>
          <div class="card-content__block__bottom__right">
            <div class="card-content__block__bottom__right__card">
              <img class="card-content__block__bottom__right__card_image" src="./assets/images/card-banner-5.png" alt="">
              <div class="card-content__block__bottom__right__card__items">
                <p class="card-content__block__bottom__right__card__items_date p">17 мая 2024</p>
                <p class="card-content__block__bottom__right__card__items_text p">ApexMedia на выставке светодиодного оборудования в Китае</p>
              </div>
            </div>
            <div class="card-content__block__bottom__right__card">
              <img class="card-content__block__bottom__right__card_image" src="./assets/images/card-banner-5.png" alt="">
              <div class="card-content__block__bottom__right__card__items">
                <p class="card-content__block__bottom__right__card__items_date p">17 мая 2024</p>
                <p class="card-content__block__bottom__right__card__items_text p">ApexMedia на выставке светодиодного оборудования в Китае</p>
              </div>
            </div>
            <div class="card-content__block__bottom__right__card">
              <img class="card-content__block__bottom__right__card_image" src="./assets/images/card-banner-5.png" alt="">
              <div class="card-content__block__bottom__right__card__items">
                <p class="card-content__block__bottom__right__card__items_date p">17 мая 2024</p>
                <p class="card-content__block__bottom__right__card__items_text p">ApexMedia на выставке светодиодного оборудования в Китае</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="blur"></div>
  </div>
</main>

