<section class="container numbers">
  <img class="numbers_bg-image" ngSrc="./assets/images/bg-img/numbers-bg.png" height="212" width="1472" alt="">
  <div class="numbers__block">
    <div class="numbers__block__info">
      <div class="numbers__block__info__items">
        <img class="numbers__block__info__items_img" ngSrc="./assets/icons/70+.svg" alt=""
             height="63" width="153">
        <p class="numbers__block__info__items_text h4">LED экранов на основных улицах Ташкента</p>
      </div>
      <div class="numbers__block__info__items">
        <img class="numbers__block__info__items_img" ngSrc="./assets/icons/34+.svg" height="62"
             width="155" alt="">
        <p class="numbers__block__info__items_text h4">Биллбордов в многолюдных  локациях</p>
      </div>
    </div>
    <button class="numbers__block__button">
      <img class="numbers__block__button_icon" ngSrc="./assets/icons/map.svg" alt=""
           height="24" width="24">
      <p class="numbers__block__button_text p">Выбрать на карте</p>
    </button>
  </div>
</section>
