$line-1px: 1px;
$line-2px: 2px;
$line-3px: 3px;
$line-4px: 4px;
$line-5px: 5px;
$line-6px: 6px;
$line-8px: 8px;
$line-10px: 10px;
$line-11px: 11px;
$line-12px: 12px;
$line-13px: 13px;
$line-14px: 14px;
$line-15px: 15px;
$line-16px: 16px;
$line-17px: 17px;
$line-18px: 18px;
$line-19px: 19px;
$line-20px: 20px;
$line-21px: 21px;
$line-22px: 22px;
$line-23px: 23px;
$line-24px: 24px;
$line-25px: 25px;
$line-26px: 26px;
$line-27px: 27px;
$line-28px: 28px;
$line-29px: 29px;
$line-30px: 30px;
$line-31px: 31px;
$line-32px: 32px;
$line-33px: 33px;
$line-34px: 34px;
$line-35px: 35px;
$line-36px: 36px;
$line-37px: 37px;
$line-38px: 38px;
$line-39px: 39px;
$line-40px: 40px;
$line-41px: 41px;
$line-42px: 42px;
$line-43px: 43px;
$line-44px: 44px;
$line-45px: 45px;
$line-46px: 46px;
$line-47px: 47px;
$line-48px: 48px;
$line-49px: 49px;
$line-50px: 50px;
$line-60px: 60px;
