<section class="container text-form">
  <div class="text-form__block">
    <div class="text-form__block__left">
      <div class="text-form__block__left__top">
        <h2 class="text-form__block__left__top_title h2">LED экраны</h2>
        <p class="text-form__block__left__top_text p">широкий спектр услуг по размещению рекламы, наиболее востребованной является наружная реклама в Ташкенте. У нас можно заказать и разместить рекламу на LED-экранах, а также на лайтбоксах и баннерах. Размещение рекламы осуществляется в кратчайшие сроки, с гарантией и по доступной цене.</p>
      </div>
      <div class="text-form__block__left__bottom">
        <h2 class="text-form__block__left__bottom_title h2">Преимущества LED экранов</h2>
        <p class="text-form__block__left__bottom_text p">Каждый предприниматель в Ташкенте, открывающий или расширяющий свой бизнес, должен найти компанию, способную помочь в изготовлении качественной, современной, высокотехнологичной наружной рекламы. Наш коллектив имеет достаточный уровень профессионализма, что позволяет решить задачи любой сложности в кратчайшие сроки. Мы способны изготовить любой вид рекламной продукции, от печати на визитках, до размещения рекламы на лед-экранах в качестве наружной рекламы. Клиентам компании гарантируется:</p>
        <ul class="text-form__block__left__bottom_list">
          <li class="text-form__block__left__bottom_list_item p">Высокое качество готовой продукции.</li>
          <li class="text-form__block__left__bottom_list_item p">Оперативность выполнения заказа.</li>
          <li class="text-form__block__left__bottom_list_item p">Доступная цена.</li>
        </ul>
        <p class="text-form__block__left__bottom_text p">При подготовке наружной рекламы мы используем новейшие передовые технологии и высококачественные материалы. В обязательном порядке принимаются во внимание пожелания клиентов.</p>
        <p class="text-form__block__left__bottom_text p">Мы готовы выполнить полный спектр работ, от разработки концепции и оформления дизайна наружной рекламы, до размещения на LED экране, проведения пусконаладочных работ.</p>
      </div>
    </div>

    <div class="text-form__block__right">
      <div class="text-form__block__right__top">
        <h3 class="text-form__block__right__top_title h3">Остались вопросы?</h3>
        <p class="text-form__block__right__top_text nav-menu-text">Наш менеджер свяжется с Вами в ближайшее время и ответит на все вопросы!</p>
      </div>
      <form class="text-form__block__right__form">
        <div class="text-form__block__right__form__first">
          <label class="text-form__block__right__form__first_label p-slider-bold">Ваше имя:</label>
          <input class="text-form__block__right__form__first_input">
        </div>
        <div class="text-form__block__right__form__first">
          <label class="text-form__block__right__form__first_label p-slider-bold">Номер телефона:</label>
          <input class="text-form__block__right__form__first_input nav-menu-text" placeholder="+998">
        </div>
        <button class="text-form__block__right__form_button p">Отправить</button>
      </form>
    </div>
  </div>
</section>
