<main class="main-content-height">
  <div class="header_background"></div>
  <div class="company-nums">
    <app-company-in-nums></app-company-in-nums>
    <div class="blur"></div>
  </div>
  <div class="contacts">
    <section class="container contacts-content">
      <div class="contacts-content__block">
        <h1 class="contacts-content__block_title">Контакты</h1>
        <div class="contacts-content__block__form-map">
          <div class="contacts-content__block__form-map__form">
            <div class="contacts-content__block__form-map__form__left">
              <div class="contacts-content__block__form-map__form__left__address">
                <h3 class="contacts-content__block__form-map__form__left__address_title">Адрес:</h3>
                <p class="contacts-content__block__form-map__form__left__address_location">г. Ташкент, 3-й проезд Садыка Азимова, 20</p>
                <p class="contacts-content__block__form-map__form__left__address_orientir">Ориентир: название ориентира</p>
              </div>
              <div class="contacts-content__block__form-map__form__left__phone">
                <h3 class="contacts-content__block__form-map__form__left__phone_title">Телефон:</h3>
                <p class="contacts-content__block__form-map__form__left__phone_number">+998 00 000 00 00</p>
              </div>
              <div class="contacts-content__block__form-map__form__left__socials">
                <h3 class="contacts-content__block__form-map__form__left__socials_title">Соцсети:</h3>
                <ul class="contacts-content__block__form-map__form__left__socials__list">
                  <li class="contacts-content__block__form-map__form__left__socials__list__item">
                    <a class="contacts-content__block__form-map__form__left__socials__list__item__link">
                      <img class="contacts-content__block__form-map__form__left__socials__list__item__link_icon" ngSrc="./assets/icons/telegram.svg" alt="" height="40" width="40">
                    </a>
                  </li>
                  <li class="contacts-content__block__form-map__form__left__socials__list__item">
                    <a class="contacts-content__block__form-map__form__left__socials__list__item__link">
                      <img class="contacts-content__block__form-map__form__left__socials__list__item__link_icon" ngSrc="./assets/icons/facebook.svg" alt="" height="40" width="40">
                    </a>
                  </li>
                  <li class="contacts-content__block__form-map__form__left__socials__list__item">
                    <a class="contacts-content__block__form-map__form__left__socials__list__item__link">
                      <img class="contacts-content__block__form-map__form__left__socials__list__item__link_icon" ngSrc="./assets/icons/instagram.svg" alt="" height="40" width="40">
                    </a>
                  </li>
                  <li class="contacts-content__block__form-map__form__left__socials__list__item">
                    <a class="contacts-content__block__form-map__form__left__socials__list__item__link">
                      <img class="contacts-content__block__form-map__form__left__socials__list__item__link_icon" ngSrc="./assets/icons/youtube.svg" alt="" height="40" width="40">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="contacts-content__block__form-map__form__right">
              <div class="contacts-content__block__form-map__form__right__top">
                <h1 class="contacts-content__block__form-map__form__right__top_title">Остались вопросы?</h1>
                <h3 class="contacts-content__block__form-map__form__right__top_subtitle">Наш менеджер свяжется с Вами в ближайшее время и ответит на все вопросы!</h3>
              </div>
              <div class="contacts-content__block__form-map__form__right__inputs">
                <label class="contacts-content__block__form-map__form__right__inputs_label">Ваше имя:</label>
                <input class="contacts-content__block__form-map__form__right__inputs_input">
              </div>
              <div class="contacts-content__block__form-map__form__right__inputs">
                <label class="contacts-content__block__form-map__form__right__inputs_label">Номер телефона:</label>
                <input class="contacts-content__block__form-map__form__right__inputs_input">
              </div>
              <button class="contacts-content__block__form-map__form__right_button">Отправить</button>
            </div>
          </div>
          <div class="contacts-content__block__form-map_map">
            <div class="contacts-content__block__form-map__map_frame" style="position:relative;overflow:hidden;"><a href="https://yandex.uz/maps/10335/tashkent/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Toshkent</a><a href="https://yandex.uz/maps/10335/tashkent/house/YkAYdA9mSUUAQFprfX9wcH1iYw==/?ll=69.288272%2C41.311561&utm_medium=mapframe&utm_source=maps&z=17.93" style="color:#eee;font-size:12px;position:absolute;top:14px;">Oʻzbekiston ovozi koʻchasi, 2 — Yandex Xarita</a><iframe src="https://yandex.uz/map-widget/v1/?ll=69.288272%2C41.311561&mode=whatshere&whatshere%5Bpoint%5D=69.285835%2C41.310253&whatshere%5Bzoom%5D=17&z=17.93" width="1440" height="560" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
