<section class="container about">
  <div class="about__block">
    <div class="about__block__content">
      <div class="about__block__content__titles">
        <h1 class="about__block__content__titles_top h1">Apex Media</h1>
        <h4 class="about__block__content__titles_bottom h4">Немного о компании</h4>
      </div>
      <p class="about__block__content_text p">
        Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
        несколько абзацев более менее осмысленного текста рыбы на русском языке,
        а начинающему оратору отточить навык публичных выступлений в домашних условиях.
        При создании генератора мы использовали небезизвестный универсальный код речей.
        Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце,
        что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
      </p>
      <button class="about__block__content_button p">Подробнее</button>
    </div>
    <img class="about__block__content_image" ngSrc="./assets/images/bg-img/about-bg.png" alt="" height="528"
         width="1000">
  </div>
</section>

