<footer class="container footer">
  <div class="footer__content">
    <div class="footer__content__top">
      <div class="footer__content__top__menu">
        <a class="footer__content__top__menu_items nav-menu-text" href="#">{{'homePage.navMenus.aboutUs' | transloco}}</a>
        <a class="footer__content__top__menu_items nav-menu-text" href="#">{{'homePage.navMenus.ourServices' | transloco}}</a>
        <a class="footer__content__top__menu_items nav-menu-text" href="#">{{'homePage.navMenus.partners' | transloco}}</a>
        <a class="footer__content__top__menu_items nav-menu-text" href="#">{{'homePage.navMenus.news' | transloco}}</a>
        <a class="footer__content__top__menu_items nav-menu-text" href="#">{{'homePage.navMenus.contacts' | transloco}}</a>
      </div>
      <div class="footer__content__top__socials">
        <div class="footer__content__top__socials__phone">
          <img class="footer__content__top__socials__phone_icon" ngSrc="./assets/icons/phone.2%201.svg" alt="phone icon"
               height="24" width="24">
          <a class="footer__content__top__socials__phone_number p" href="tel:998000000000">+998 00 000 00 00</a>
        </div>
        <div class="footer__content__top__socials__icons">
          <a class="" href="https://web.telegram.org/" target="_blank">
            <img class="footer__content__top__socials__icons_item" ngSrc="./assets/icons/telegram.svg" alt="telegram icon"
                 height="40" width="40">
          </a>
          <a class="" href="https://www.facebook.com/" target="_blank">
            <img class="footer__content__top__socials__icons_item" ngSrc="./assets/icons/facebook.svg" alt="facebook icon"
                 height="40" width="40">
          </a>
          <a class="" href="https://www.instagram.com/" target="_blank">
            <img class="footer__content__top__socials__icons_item" ngSrc="./assets/icons/instagram.svg" alt="instagram icon"
                 height="40" width="40">
          </a>
          <a class="" href="https://www.youtube.com/" target="_blank">
            <img class="footer__content__top__socials__icons_item" ngSrc="./assets/icons/youtube.svg" alt="youtube icon"
                 height="40" width="40">
          </a>
        </div>
        <button class="footer__content__top__socials_button p">Обратная связь</button>
      </div>
    </div>
    <div class="footer__content_divider"></div>
    <div class="footer__content__bottom">
      <img class="footer__content__bottom_icon" ngSrc="./assets/logos/apex-logo-footer.svg" alt="apex logo" height="56"
           width="128">
      <div class="footer__content__bottom__text">
        <p class="footer__content__bottom__text_copyright nav-menu-text">© 2024 Apex Media. Все услуги лицензированы.</p>
        <p class="footer__content__bottom__text_conditions nav-menu-text">При использовании информации на сайте ссылка на сайт обязательна.</p>
      </div>
    </div>
  </div>
</footer>
