<main class="main-content-height">
  <div class="adds">
    <app-adds></app-adds>
  </div>
  <div class="numbers">
    <app-company-in-nums></app-company-in-nums>
    <div class="numbers_blur"></div>
  </div>
  <div class="feature">
    <app-features></app-features>
  </div>
  <div class="about">
    <app-about></app-about>
    <div class="about_blur"></div>
  </div>
  <div class="service">
    <app-services></app-services>
  </div>
  <div class="partners">
    <app-home-partners></app-home-partners>
  </div>
  <div class="faq">
    <app-faq></app-faq>
    <div class="faq_blur"></div>
  </div>
</main>
